## **Imports and Setting Up**

In [1]:
import pandas as pd

In [3]:
from google.colab import drive
 
#mount g drive
drive.mount('/gdrive')

# navigate to the project's folder
%cd /gdrive/'My Drive'/

Mounted at /gdrive
/gdrive/My Drive

## **Load owid-covid-data.csv into dataframe**

In [54]:
df = pd.read_csv('CSC3007_datasets/owid-covid-data.csv')

In [5]:
pd.set_option('display.max_columns', None)

In [56]:
pd.set_option('display.max_rows', None)

In [ ]:
len(df.columns)

67

In [55]:
# replace United States with USA
df[['location']] = df[['location']].replace(['United States'], ['USA'])

## **Retrieve only the columns we need from the dataframe**

In [58]:
df = df[["continent", "location", "date", "total_cases", "new_cases", "total_deaths", "new_deaths", "total_vaccinations", "people_vaccinated", "people_fully_vaccinated", "total_boosters", "population", "population_density"]].fillna(0)

In [59]:
len(df)

197476

## **Load world_geojson.json into dataframe**

In [60]:
import json

with open('CSC3007_datasets/world_geojson.json') as data_file:    
    data = json.load(data_file)  

df_geo_world = pd.json_normalize(data, 'features', ['type'], 
                    record_prefix='features_')

In [61]:
df_geo_world.head()

,features_type,features_id,features_properties.name,features_geometry.type,features_geometry.coordinates,type
0,Feature,AFG,Afghanistan,Polygon,"[[[61.210817, 35.650072], [62.230651, 35.27066...",FeatureCollection
1,Feature,AGO,Angola,MultiPolygon,"[[[[16.326528, -5.87747], [16.57318, -6.622645...",FeatureCollection
2,Feature,ALB,Albania,Polygon,"[[[20.590247, 41.855404], [20.463175, 41.51508...",FeatureCollection
3,Feature,ARE,United Arab Emirates,Polygon,"[[[51.579519, 24.245497], [51.757441, 24.29407...",FeatureCollection
4,Feature,ARG,Argentina,MultiPolygon,"[[[[-65.5, -55.2], [-66.45, -55.25], [-66.9599...",FeatureCollection

In [62]:
df_geo_world["features_properties.name"]

0                              Afghanistan
1                                   Angola
2                                  Albania
3                     United Arab Emirates
4                                Argentina
5                                  Armenia
6                               Antarctica
7      French Southern and Antarctic Lands
8                                Australia
9                                  Austria
10                              Azerbaijan
11                                 Burundi
12                                 Belgium
13                                   Benin
14                            Burkina Faso
15                              Bangladesh
16                                Bulgaria
17                             The Bahamas
18                  Bosnia and Herzegovina
19                                 Belarus
20                                  Belize
21                                 Bolivia
22                                  Brazil
23                                  Brunei
24                                  Bhutan
25                                Botswana
26                Central African Republic
27                                  Canada
28                             Switzerland
29                                   Chile
30                                   China
31                             Ivory Coast
32                                Cameroon
33        Democratic Republic of the Congo
34                   Republic of the Congo
35                                Colombia
36                              Costa Rica
37                                    Cuba
38                         Northern Cyprus
39                                  Cyprus
40                          Czech Republic
41                                 Germany
42                                Djibouti
43                                 Denmark
44                      Dominican Republic
45                                 Algeria
46                                 Ecuador
47                                   Egypt
48                                 Eritrea
49                                   Spain
50                                 Estonia
51                                Ethiopia
52                                 Finland
53                                    Fiji
54                        Falkland Islands
55                                  France
56                                   Gabon
57                                 England
58                                 Georgia
59                                   Ghana
60                                  Guinea
61                                  Gambia
62                           Guinea Bissau
63                       Equatorial Guinea
64                                  Greece
65                               Greenland
66                               Guatemala
67                                  Guyana
68                                Honduras
69                                 Croatia
70                                   Haiti
71                                 Hungary
72                               Indonesia
73                                   India
74                                 Ireland
75                                    Iran
76                                    Iraq
77                                 Iceland
78                                  Israel
79                                   Italy
80                                 Jamaica
81                                  Jordan
82                                   Japan
83                              Kazakhstan
84                                   Kenya
85                              Kyrgyzstan
86                                Cambodia
87                             South Korea
88                                  Kosovo
89                                  Kuwait
90                                    Laos
91                                 Lebanon
92                                 Liberia
93                                   Libya
94                               Sri Lanka
95                                 Lesotho
96                               Lithuania
97                              Luxembourg
98                                  Latvia
99                                 Morocco
100                                Moldova
101                             Madagascar
102                                 Mexico
103                              Macedonia
104                                   Mali
105                                Myanmar
106                             Montenegro
107                               Mongolia
108                             Mozambique
109                             Mauritania
110                                 Malawi
111                               Malaysia
112                                Namibia
113                          New Caledonia
114                                  Niger
115                                Nigeria
116                              Nicaragua
117                            Netherlands
118                                 Norway
119                                  Nepal
120                            New Zealand
121                                   Oman
122                               Pakistan
123                                 Panama
124                                   Peru
125                            Philippines
126                       Papua New Guinea
127                                 Poland
128                            Puerto Rico
129                            North Korea
130                               Portugal
131                               Paraguay
132                                  Qatar
133                                Romania
134                                 Russia
135                                 Rwanda
136                         Western Sahara
137                           Saudi Arabia
138                                  Sudan
139                            South Sudan
140                                Senegal
141                        Solomon Islands
142                           Sierra Leone
143                            El Salvador
144                             Somaliland
145                                Somalia
146                     Republic of Serbia
147                               Suriname
148                               Slovakia
149                               Slovenia
150                                 Sweden
151                              Swaziland
152                                  Syria
153                                   Chad
154                                   Togo
155                               Thailand
156                             Tajikistan
157                           Turkmenistan
158                             East Timor
159                    Trinidad and Tobago
160                                Tunisia
161                                 Turkey
162                                 Taiwan
163            United Republic of Tanzania
164                                 Uganda
165                                Ukraine
166                                Uruguay
167                                    USA
168                             Uzbekistan
169                              Venezuela
170                                Vietnam
171                                Vanuatu
172                              West Bank
173                                  Yemen
174                           South Africa
175                                 Zambia
176                               Zimbabwe
Name: features_properties.name, dtype: object

## **Only get the rows based on the common values between the column:"location" from the owid-covid-data.csv and in the column:"features_properties.name" from the world_geojson.json**

In [63]:
df_without_duplicates = df.drop_duplicates(subset=['location'])
df_without_duplicates
print(len(df_without_duplicates))

244

In [64]:
common_df = df_without_duplicates[df_without_duplicates['location'].isin(df_geo_world['features_properties.name'])]

In [65]:
intersect_locations = common_df['location']

In [66]:
final_output = df.loc[df['location'].isin(intersect_locations.values)]
print(len(final_output))

134470

In [67]:
final_output.to_csv("CSC3007_datasets/owid-covid-data_processed.csv", encoding='utf-8')